{% extends "base.html" %}

{% block content %}

<h2>Who Am I?</h2>



<div>
<img src="{{ url_for('static', filename='images/team1.jpg') }}"
                 class="rounded-circle shadow img-fluid"
                 width="220"
                 height="220">

        <h2 class="mt-3">Mohsan Ali</h2>
         <h5 class="text-primary">
                Python Flask Developer
            </h5>
    </div>

</div>
<div class="alpha">
<a href="{{ url_for('static', filename='my_cv.pdf') }}" class="btn btn-primary mt-3" download>Download CV</a>
</div>
<div class="alpha">
     Hello!

                My name is <strong>Mohsan Ali</strong>.

                I am a passionate Web Developer.

                I build responsive websites using
                HTML, CSS, Python and Flask.

                I enjoy solving real-world problems
                and learning new technologies.
</div>




<div class="social-icons">
    <!-- WhatsApp Icon -->
   <a href="https://wa.me/923218352086" class="btn btn-outline-success m-2">
<i class="fab fa-whatsapp"></i>
</a>

    <!-- TikTok Icon -->
<a href="https://www.tiktok.com/@mohsanali_123?_r=1&_t=ZN-97v2Il0P6Cg" class="btn btn-outline-dark m-2">
<i class="fab fa-tiktok"></i>
</a>

    <!-- GitHub Icon -->
 <a href="https://github.com/mohsanali1510-ui/flask-b" class="btn btn-outline-dark m-2">
<i class="fab fa-github"></i>
</a>

 <!-- facebook Icon -->
<a href="https://www.facebook.com/share/1KBisLoCtG/" class="btn btn-outline-primary m-2">
<i class="fab fa-facebook"></i>
</a>


</div>



{% endblock %}


