{% extends "base.html" %}

{% block content %}

<h2>My Development</h2>

<img src="{{ url_for('static', filename='images/team1.jpg') }}" class="rounded-circle mb-3 img-fluid profile-img" alt="Mohsin">

<div class="mb-3">

    <p> This blog is created while learning Flask</p>

    <a href="https://wa.me/923218352086" class="btn btn-outline-success btn-lg mt-3" target="_blank">
    <i class="fab fa-whatsapp"></i> Chat on WhatsApp
</a>
    
</div>

<div class="mb-3">

<a href="https://www.tiktok.com/@mohsanali_123?_r=1&_t=ZN-97v2Il0P6Cg" class="btn btn-outline-success btn-lg mt-3" target="_blank">
    <i class="fab fa-tiktok"></i> Chat on Tiktok
</a>
    


</div>


{% endblock %}


